<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobit Diarium</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="shortcut icon" href="/assets/icon.svg" type="image/svg+xml">
</head>

<body class="flex">
    <form style="width: 30%;" onsubmit="return false;">
        <fieldset>
            <legend>LIBRO DIARIO</legend>
            <div class="flex">
                <select name="journal_name">
                    <option value="">Sin listar</option>
                </select>
                <button type="button" onclick="listJournals(this)">Listar</button>
                <button type="button" onclick="listRows(this)">Obtener registros</button>
            </div>
            <blockquote>Almacenamiento de toda actividad en una sola tabla SQL.</blockquote>
        </fieldset>
        <fieldset>
            <legend>ASIENTO</legend>
            <div class="flex">
                <input type="text" name="entry_id" placeholder="entry_id">
                <button type="button" onclick="newEntryId(this)">Generar</button>
                <button type="button" onclick="listEntryId(this)">Filtrar</button>
            </div>
            <blockquote>Identificador del grupo de registros.</blockquote>
        </fieldset>
        <fieldset>
            <legend>REGISTRO</legend>
            <input type="text" name="account" placeholder="account">
            <p class="flex">
                <label>
                    <input type="radio" name="nature" value="-1">
                    Izquierda
                </label>
                <label>
                    <input type="radio" name="nature" value="0">
                    Centro
                </label>
                <label>
                    <input type="radio" name="nature" value="0">
                    Derecha
                </label>
            </p>
            <input type="number" name="amount" min="1.0" placeholder="amount" step="0.1">
            <p>
                <button type="button" onclick="addRow(this)">Guardar información permanente</button>
            </p>
            <blockquote>Información inmutable del registro.</blockquote>
        </fieldset>
        <fieldset>
            <legend>REGISTRO INFO</legend>
            <p class="flex">
                <input type="number" name="row_id" min="1" placeholder="row_id">
                <button type="button" onclick="listData(this)">Listar data</button>
            </p>
            <div class="flex">
                <input type="text" name="entry_ref" placeholder="entry_ref">
                <button type="button" onclick="setEntryRef(this)">Actualizar</button>
            </div>
            <blockquote>Referencia a un grupo para complementar información.</blockquote>
            <p class="flex">
                <input type="text" name="data_key" list="data_keys" placeholder="data_key">
                <datalist id="data_keys"></datalist>
                <button type="button" onclick="getData(this)">Obtener</button>
                <button type="button" onclick="delData(this)">Eliminar</button>
            </p>
            <textarea name="data_value" rows="3" placeholder="data_value"></textarea>
            <p>
                <button type="button" onclick="setData(this)">Guardar información</button>
            </p>
            <blockquote>Información mutable del registro.</blockquote>
        </fieldset>
    </form>
    <div style="width: 70%;">
        <table id="view-rows">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ENTRY_ID</th>
                    <th>ACCOUNT</th>
                    <th>NATURE</th>
                    <th>AMOUNT</th>
                    <th>ENTRY_REF</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <table id="view-data">
            <thead>
                <tr>
                    <th>KEY</th>
                    <th>VALUE</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script src="/assets/main.js"></script>
</body>

</html>