<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobit Diarium</title>
    <style>
        blockquote {
            font-size: small;
            margin: 2px;
            border-left: 2px solid;
            padding-left: 5px;
        }

        .flex {
            gap: 0.3em;
            display: flex;
            align-items: flex-start;
        }

        table {
            width: 100%;

            thead {
                background-color: silver;
            }

            td {
                text-align: right;
            }
        }
    </style>
</head>

<body class="flex">
    <form style="width: 30%;" onsubmit="return false;">
        <fieldset>
            <legend>LIBRO DIARIO</legend>
            <div class="flex">
                <select name="journal_name">
                    <option value="">Sin listar</option>
                </select>
                <button type="button" onclick="listJournals(this)">Listar</button>
                <button type="button" onclick="listRows(this)">Obtener registros</button>
            </div>
            <blockquote>Almacenamiento de toda actividad en una sola tabla SQL.</blockquote>
        </fieldset>
        <fieldset>
            <legend>ASIENTO</legend>
            <div class="flex">
                <input type="text" name="entry_id" placeholder="entry_id">
                <button type="button" onclick="newEntryId(this)">Generar</button>
                <button type="button" onclick="listEntryId(this)">Filtrar</button>
            </div>
            <blockquote>Identificador del grupo de registros.</blockquote>
        </fieldset>
        <fieldset>
            <legend>REGISTRO</legend>
            <input type="text" name="account" placeholder="account">
            <p class="flex">
                <label>
                    <input type="radio" name="nature" value="-1">
                    Izquierda
                </label>
                <label>
                    <input type="radio" name="nature" value="0">
                    Centro
                </label>
                <label>
                    <input type="radio" name="nature" value="0">
                    Derecha
                </label>
            </p>
            <input type="number" name="amount" min="1.0" placeholder="amount" step="0.1">
            <p>
                <button type="button" onclick="addRow(this)">Guardar información permanente</button>
            </p>
            <blockquote>Información inmutable del registro.</blockquote>
        </fieldset>
        <fieldset>
            <legend>REGISTRO INFO</legend>
            <p class="flex">
                <input type="number" name="row_id" min="1" placeholder="row_id">
                <button type="button" onclick="listData(this)">Listar</button>
            </p>
            <div class="flex">
                <input type="text" name="entry_ref" placeholder="entry_ref">
                <button type="button" onclick="setEntryRef(this)">Actualizar</button>
            </div>
            <blockquote>Referencia a un grupo para complementar información.</blockquote>
            <p class="flex">
                <input type="text" name="data_key" list="data_keys" placeholder="data_key">
                <datalist id="data_keys"></datalist>
                <button type="button" onclick="getData(this)">Obtener</button>
                <button type="button" onclick="delData(this)">Eliminar</button>
            </p>
            <textarea name="data_value" rows="3" placeholder="data_value"></textarea>
            <p>
                <button type="button" onclick="setData(this)">Guardar información</button>
            </p>
            <blockquote>Información mutable del registro.</blockquote>
        </fieldset>
    </form>
    <div style="width: 70%;">
        <table id="view-rows">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ENTRY_ID</th>
                    <th>ACCOUNT</th>
                    <th>NATURE</th>
                    <th>AMOUNT</th>
                    <th>ENTRY_REF</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <table id="view-data">
            <thead>
                <tr>
                    <th>KEY</th>
                    <th>VALUE</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <script>
        async function getJson(btn, fn, uri) {
            const res = await fetch(uri);
            if (!res.ok) throw new Error('Error HTTP: ' + res.statusText);
            return [btn.closest('form'), await res[fn]()]
        }
        async function setJson(fn, uri, data) {
            const res = await fetch(uri, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            if (!res.ok) throw new Error('Error HTTP: ' + res.statusText);
            return await res[fn]()
        }
        function forTable(data) {
            return data.map(x =>
                '<tr>' + x.map(y => '<td>' + y + '</td>').join('') + '</tr>'
            ).join('');
        }
        async function listJournals(btn) {
            const [form, data] = await getJson(btn, 'json', '/api/journals');
            const html_data = data.map(x => '<option value="' + x + '">' + x + '</option>').join('');
            form.querySelector('select[name="journal_name"]').innerHTML = html_data;
        }
        async function newEntryId(btn) {
            const [form, data] = await getJson(btn, 'text', '/api/entry_id')
            form.entry_id.value = data;
        }
        async function addRow(btn) {
            const form = btn.closest('form');
            const journal_name = form.journal_name.value;
            const row = {
                entry_id: form.entry_id.value,
                account: form.account.value,
                nature: parseInt(form.nature.value),
                amount: parseFloat(form.amount.value)
            };
            form.row_id.value = await setJson('text', '/api/' + journal_name + '/row', row);
        }
        async function listRows(btn) {
            const journal_name = btn.closest('form').journal_name.value;
            const [_, data] = await getJson(btn, 'json', '/api/' + journal_name + '/rows');
            document.querySelector('#view-rows>tbody').innerHTML = forTable(data);
        }
        async function listEntryId(btn) {
            const form = btn.closest('form');
            const journal_name = form.journal_name.value;
            const entry_id = form.entry_id.value;
            const [_, data] = await getJson(btn, 'json', '/api/' + journal_name + '/entry/' + entry_id);
            document.querySelector('#view-rows>tbody').innerHTML = forTable(data);
        }
    </script>
</body>

</html>